{{!-- Usar el diseño principal --}}
{{!-- Archivo: src/views/realtimeproducts.handlebars --}}
{{#extends 'layout/main'}}
{{#content 'body'}}
    <h1 class="my-4">Productos en tiempo real</h1>
    <div class="mb-4">
        <h2>Agregar Producto</h2>
        <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <input type="text" class="form-control" id="description">
        </div>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" class="form-control" id="price">
        </div>
        <div class="form-group">
            <label for="thumbnails">Imágenes (URL):</label>
            <input type="text" class="form-control" id="thumbnails">
        </div>
        <div class="form-group">
            <label for="code">Código:</label>
            <input type="text" class="form-control" id="code">
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" class="form-control" id="stock">
        </div>
        <div class="form-group">
            <label for="category">Categoría:</label>
            <input type="text" class="form-control" id="category">
        </div>
        <div class="form-group">
            <label for="status">Estado:</label>
            <select class="form-control" id="status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
        <button id="btnEnviar" class="btn btn-primary">Enviar</button>
    </div>
    <h2>Listado de Productos</h2>
    <div class="row" id="contenedorProductos"></div>
{{/content}}
